
#remember-me {
  margin: auto auto 50px auto;
  width: 80%;
  padding: auto;
}

#exampleCheck1 {
  margin-left: 12px;
}


#form-login {
  margin-left: 800px;
  margin-top: 1%;
  width: 30%;
}
